<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserSignUpServlet</servlet-name>
  	<display-name>UserSignUpServlet</display-name>
  	<servlet-class>com.switchbit.controller.user.UserSignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<display-name>UserLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.switchbit.controller.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<display-name>UserLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.switchbit.controller.user.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<display-name>UserUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.switchbit.controller.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<display-name>UpdatePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.switchbit.controller.user.UpdatePasswordServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserSignUpServlet</servlet-name>
  	<url-pattern>/user/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePasswordServlet</servlet-name>
  	<url-pattern>/user/updatepassword</url-pattern>
  </servlet-mapping>
</web-app>
